<!DOCTYPE HTML>
<html >
  <head>
    <title>Wikipedia Viewer</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css"/> 
  </head>

  <body class="App__body bg--main" ng-app="WikiViewer">

    <div class="container-fluid">
      <header>
        <div class="row">
          <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-ls-offset-4">
            <img class="App__logo" src="https://farm2.staticflickr.com/1717/25350234641_1233d12ba7_o.png" />
          </div>
          <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-ls-offset-4">
            <span class="App__title"> Wikipedia Viewer</span>
          </div>
        </div>
      </header>

      <content class="App__content" ng-controller="WikipediaCtrl as wikiList">

        <div class="Search__container align--center row">
          <div class="input-group col col-xs-11 col-sm-11 col-md-5 col-lg-5 col-xs-offeset-1  col-sm-offeset-1 col-md-offeset-2 col-lg-offeset-2">
            <span class="bg--main input-group-addon">
              <i  class="fa fa-search fa-fw"></i>
            </span>
            <input type="text" class="bg--main form-control input-lg Wiki__search" placeholder="Search Wikipedia articles ..." id="search-input" ng-model="wikiList.searchText" ng-change="change()" />
          </div><!-- /input-group -->
        </div> 


        <ul class="list">  
          <li class="list-item" ng-repeat="wiki in wikiList.wikis">  
            <div class="list-content">    

              <h2>{{wiki.title}}</h2>  
              <p>
              {{wiki.extract}}
              </p>  

              <a class="btn btn-info btn-lg" target="_blank" href="https://en.wikipedia.org/?curid={{wiki.pageid}}" role="button">Learn more</a>
            </div>  
          </li>  
        </ul>
      </content>

      <footer class="App__footer align--center">
        <div class="Footer__info">
          Created by Munteanu Francisc 2016
        </div>
      </footer>

    </div>
  </body>

</html>

